.body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-weight: 900;
}

body {
    background-color: lightgray;
}

.page {
    width: 850px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 25px;
}

.small-font {
    font-size: 14px;
}

#map {float:none; width:800px; padding:30px 100px 20px 50px; color:#775b30; font-size:12px;}
#pie {margin:40px -45px  0; float:none; width:250px; padding:500px -100px 50px -500px; color:#775b30; font-size:12px;}
#area {margin:40px 100px 0; float:left; width:250px; padding:500px -100px 50px -500px; color:#775b30; font-size:12px;}