.span.p-4 {
  text-align: justify;
}

.button-icon {
  background-color: #008b8b; /* Green */
  border: none;
  color: white;
  width: 130px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  filter: grayscale(100%);
  border-radius: 20px;
}
.button-icon:hover {
  filter: grayscale(0%);
  filter: brightness(110%);
}
.italic { 
  font-style: italic; 
}
.container {
      border: 2px solid;
      border-color: #f6b614;
      box-shadow: 5px 10px #bab9b9;
}

.rounded {
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
}

.bgwhite {
  background-color: #ffffff;
  border-radius: 10px;
}

.header {
  background-color: #F8D664;
}

.bg2 {
  background-color: #ffffff;

}

.bg3 {
    background-color: rgb(245,245,245);
}

.factor-icon {
  width: 80px;
  height: 80px;
  filter: grayscale(100%);
}

.factor-icon:hover {
  filter: grayscale(0%);
  filter: brightness(110%);
}
.sp {
  display: none;
}
.map{
  display: none;
}

.vega-bind-name {
  padding: 5px;
}

#headline {
  font-family: "Sora", serif;
  font-size: 4em;
  color: #ffffff;
}
body {
  font-size: large;
  font-family: 'Inter', sans-serif !important;
  background-color: #ffffff;
}
#gdp_sp {
  display: flex;
}

#fam_sp {
  display: flex;
}

#free_sp {
  display: flex;
}

#health_sp {
  display: flex;
}

#trust_sp {
  display: flex;
}

#gen_sp {
  display: flex;
}

#cor_sp {
  display: flex;
}

#map_2019 {
  display: flex;
}

#map_2020 {
  display: flex;
}

#flourish-credit {
  display: none !important;
}


